[Desktop Entry]
Version=v1.0
Encoding=UTF-8
Name=wxHexEditor
GenericName=wxHexEditor
Comment=A hex editor for huge files and devices
Exec=wxHexEditor
Icon=wxHexEditor.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;
