[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=wxHexEditor
GenericName=wxHexEditor
Comment=A hex editor for huge files and devices
Exec=wxHexEditor
Icon=wxHexEditor
Terminal=false
Type=Application
MimeType=*;
Categories=Utility;TextEditor;
